@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.description {
    animation: design 1s linear forwards;
}
.openstore {
    opacity: 0;
    animation: store 1s linear forwards .5s;
}
.explore {
    opacity: 0;
    animation: explore 1s linear forwards .5s;
}
.sales {
    opacity: 0;
    animation: explore 1s linear forwards;
}
.shoes {
    opacity: 0;
    animation: shoes 1s linear forwards .5s;
}


@keyframes design{
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        transform: translateX(-50%);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes store {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        transform: translateX(-50%);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes explore {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    50% {
        transform: translateX(50%);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes shoes {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    50% {
        transform: translateY(20px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}